<!DOCTYPE html>
<html>

<!-- This website is created by Teck Hua Ng. Website link: https://teckhuang.herokuapp.com/. -->
<!-- This header.ejs, contains upper part information of the website, to be used multiple times, without creating new one -->

<head>
    <title>
        Portfolio
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
            <!-- <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            </div>
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                <h3>My Portfolio</h3>
            </div> -->
            <!-- <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            </div> -->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
                <a href="/" class="mdl-layout__tab is-active">Home</a>
                <a href="/about" class="mdl-layout__tab ">About Me</a>
                <a href="/services" class="mdl-layout__tab ">Services</a>
                <a href="/projects" class="mdl-layout__tab ">Projects</a>
                <a href="/contact" class="mdl-layout__tab">Contact Me</a>

            </div>
        </header>